<div class="flex flex-col gap-2">
    <h3 mat-dialog-title class="grow text-3xl font-semibold">Generar Pago Compra Nueva </h3>
      <mat-dialog-content class="p-2">
        <form [formGroup]="formInstance" class="grid grid-cols-12 grid-flow-row gap-2 max-w-screen-sm">

          <mat-form-field appearance="outline" class="col-span-2">
            <mat-label>Fecha</mat-label>
            <input formControlName="fecha" matInput [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-span-2">
            <mat-label>Hora</mat-label>
            <input formControlName="hora" matInput type="time">
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-span-4">
            <mat-label>Medio de Pago</mat-label>
            <mat-select formControlName="metodo">
                <mat-option *ngFor="let metodo of metodos" [value]="metodo.id">
                  {{metodo.name}}
                </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-span-4">
            <mat-label>Detalles</mat-label>
            <input formControlName="referencia" matInput>
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-span-4">
            <mat-label>Central</mat-label>
            <mat-select formControlName="cargo">
                <mat-option *ngFor="let central of centrales" [value]="central.id">
                  {{central.nombre}}
                </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-span-4">
            <mat-label>Moneda</mat-label>
            <mat-select formControlName="moneda">
                <mat-option *ngFor="let moneda of monedas" [value]="moneda.id">
                  {{moneda.nombre + " ("+moneda.simbolo+")" }}
                </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-span-4" disabled="true">
            <mat-label>Abonado</mat-label>
            <input formControlName="abonado" matInput>
            <mat-error *ngIf="formInstance.get('abonado')?.errors?.['required']"
                  [style.font-size]="'x-smaller'"
            >Campo requerido</mat-error>
          </mat-form-field>

          <p class="text-lg font-medium col-span-12">Detalles de Compra Simple</p>

          <mat-form-field 
              appearance="outline"  
              class="col-span-12">
                <mat-label>Proveedor</mat-label>
                <mat-select formControlName="proveedor">
                    <mat-option *ngFor="let supplier of suppliers" [value]="supplier.id">
                      {{supplier.codigo + '-' + supplier.nombre}}
                    </mat-option>
                </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-span-4">
              <mat-label>Comprobante</mat-label>
              <mat-select formControlName="tipo_documento">
                <mat-option *ngFor="let comprobante of comprobante_tipos" [value]="comprobante.id">
                      {{comprobante.codigo + '-' + comprobante.nombre}}
                </mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-span-4">
              <mat-label>Numero de Documento Referencia</mat-label>
              <input formControlName="referencia" matInput>
              <mat-error *ngIf="formInstance.get('referencia')?.errors?.['required']"
                        [style.font-size]="'x-smaller'"
              >Campo requerido
              </mat-error>
          </mat-form-field>


          <mat-form-field 
              appearance="outline"  
              class="col-span-4">
                <mat-label>Concepto</mat-label>
                <mat-select formControlName="concepto">
                    <mat-option *ngFor="let concepto of products" [value]="concepto.id">
                      {{concepto.codigo + '-' + concepto.name}}
                    </mat-option>
                </mat-select>
          </mat-form-field>

          <p class="text-lg font-medium col-span-12">Calculos</p>
          <mat-form-field appearance="outline" class="col-span-3">
            <mat-label>Tipo IGV</mat-label>
            <mat-select formControlName="igv_tipo">
                <mat-option *ngFor="let igv_tipo of igv_tipos" [value]="igv_tipo.id">
                  {{igv_tipo.name}}
                </mat-option>
            </mat-select>

          </mat-form-field>

          <mat-form-field appearance="outline" class="col-span-3">
              <mat-label>Igv</mat-label>
              <input formControlName="igv" matInput>
              <mat-error *ngIf="formInstance.get('igv')?.errors?.['required']"
                        [style.font-size]="'x-smaller'"
              >Campo requerido
              </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-span-3">
              <mat-label>Cantidad</mat-label>
              <input formControlName="cantidad" matInput>
              <mat-error *ngIf="formInstance.get('cantidad')?.errors?.['required']"
                        [style.font-size]="'x-smaller'"
              >Campo requerido
              </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-span-3">
              <mat-label>Total</mat-label>
              <input formControlName="total" matInput>
              <mat-error *ngIf="formInstance.get('total')?.errors?.['required']"
                        [style.font-size]="'x-smaller'"
              >Campo requerido
              </mat-error>
          </mat-form-field>


          <p class="text-lg font-medium col-span-12">Cuenta Contable</p>
          <mat-form-field 
            appearance="outline"  
            class='col-span-12'>
              <mat-label>Cuenta</mat-label>
              <mat-select formControlName="cuenta_gasto">
                  <mat-option *ngFor="let cuenta of cuentas" [value]="cuenta.id">
                    {{cuenta.descripcion}}
                  </mat-option>
              </mat-select>
          </mat-form-field>

          <div class="alert alert-danger col-span-10" *ngIf="error">
            Los campos no han sido rellanados correctamente
          </div>
        </form>
  
  
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-raised-button (click)="onSubmit()" color="primary">Guardar</button>
      </mat-dialog-actions>
  
  </div>